<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>All Posts</title>
  <%- include('../partials/head') %>
</head>
<body>

  <header>
    <%- include('../partials/navbar') %>
  </header>
  <h1>Posts:</h1>
     <% for(let post of posts) { %> 
      <div class="card text-center w-50">
        <div class="card-body">
          <a href="/post/<%=post._id%>"><%= post.name %></a>
        </div>
      </div>
      <% } %>
<%- include('../partials/bootstrap') %>
<%- include('../partials/footer') %>

</body>
</html>