<% layout('/layouts/boilerplate') %>
<div class="mb-3">
  <div class="card text-center">
    <div class="card-header">
      <h5><%= post.title %> - by <%= post.name %>
      </h5>
      </div>
      <div class="card-body">
      <p class="card-text"><%= post.body %></p>
      <a href="/post/<%=post.id%>/edit" class="btn btn-primary">Edit Post</a>
    </div>
  </div>
  <form action="/post/<%=post._id%>?_method=DELETE" method="post">
  <button type="submit">Delete post</button></form>
  </div>


